@import '@fontsource/bellefair';
@import '@fontsource/barlow-condensed';
@import '@fontsource/barlow';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
  body
  {
    @apply text-white;
  }
}

@layer utilities
{
  .bg-home
  {
    background-image: url('/background-home-mobile.jpg');
    @apply bg-cover bg-center;

    @screen md
    {
      background-image: url('/background-home-tablet.jpg');
    }

    @screen lg
    {
      background-image: url('/background-home-desktop.jpg');
    }
  }

  .tp-1
  {
    @apply font-['Bellefair'] text-[80px] leading-[1.719] tracking-[0];

    @screen md
    {
      font-size: 144px;
    }

    @screen lg
    {
      font-size: 144px;
    }
  }

  .tp-2
  {
    @apply font-['Bellefair'] text-[56px] leading-[1.145] tracking-[0];

    @screen md
    {
      font-size: 80px;
    }

    @screen lg
    {
      font-size: 96px;
    }
  }

  .tp-3
  {
    @apply font-['Bellefair'] text-[24px] leading-[0.642] tracking-[0];

    @screen md
    {
      font-size: 40px;
    }

    @screen lg
    {
      font-size: 56px;
    }
  }

  .tp-4
  {
    @apply font-['Bellefair'] text-[18px] leading-[0.336] tracking-[4px];

    @screen md
    {
      font-size: 24px
    }

    @screen lg
    {
      font-size: 32px;
    }
  }

  .tp-5
  {
    @apply font-['Barlow_Condensed'] text-[20px] leading-[0.336] tracking-[4px];

    @screen md
    {
      font-size: 28px;
    }
  }

  .tp-6
  {
    @apply font-['Bellefair'] text-[16px] leading-[0.321] tracking-[0];

    @screen lg
    {
      font-size: 28px;
    }
  }

  .tp-7
  {
    @apply font-['Barlow_Condensed'] text-[14px] leading-[0.168] tracking-[2px];
  }

  .tp-8
  {
    @apply font-['Barlow_Condensed'] text-[14px] leading-[0.192] tracking-[2px];

    @screen lg
    {
      font-size: 16px;
    }
  }

  .tp-8b
  {
    @apply font-['Barlow_Condensed'] text-[14px] leading-[0.192] tracking-[2.7px] font-bold;

    @screen lg
    {
      font-size: 16px;
    }
  }

  .tp-9
  {
    @apply font-['Barlow'] text-[15px] leading-[1.8] tracking-[0];

    @screen md
    {
      font-size: 16px;
    }

    @screen lg
    {
      font-size: 18px;
    }
  }
}
